*.egg-info
/*.scad
/*.stl
/*.svg
/*.png
*/build/*
*/dist/*
.coverage
.direnv
.env
.mypy_cache
.pytest*
.ruff_cache
.vscode
/dist
__pycache__
coverage.*
.testmondata
.testmondata-*


assets
automations
*.yaml
get-calibration-images
get-images
htmlcov
image.png
images
pylintrc
ruff.toml
scripts
tag-sensor.schema.json
tests
translations
utils
