use standard-python
# source_up_if_exists
# layout python python3.13

TAG_SENSOR_CONFIG="$(pwd)/example-config.yaml"
PYLINTRC="$(pwd)/pylintrc"

# dotenv_if_exists

export TAG_SENSOR_CONFIG PYLINTRC
PATH_add bin
