*.egg-info
.mypy_cache
.ruff_cache
/*.png
/*.scad
/*.stl
/*.svg
/.cache
/.coverage
/.direnv
/.env
/.pytest*
/.testmondata
/.testmondata-*
/.venv
/.vscode
/build
/dist
/htmlcov
/scripts/mosquitto.*
/tests/camera-data
/tests/camera-data/
/tests/camera-data/**/*.png
__pycache__
coverage.*
